# <a name="subdivs_intro"></a>Places: subdivisions

Resources related to geographic subdivisions (e.g. states and counties).

### <a name="subdivision_attrs"></a>Mutable attributes

Attribute | Type | Description
--------- | ---- | -----------
country_id | integer | Req'd. ID of parent country.
name | string | Req'd. 2-250 chars. English-language common name, e.g. 'Florida'.
also_known_as | array | Members must be 2-50 char strings. E.g. `['The Sunshine State']`.
latitude | number/float | Between -90 and 90.
longitude | number/float | Between -180 and 180.
