---
title: Dbljump REST API Reference

language_tabs:
  - JSON

toc_footers:
  - <a href='https://github.com/tripit/slate'>Documentation Powered by Slate</a>

includes:
  - intro
  - articles/intro
  - articles/index
  - articles/games/intro
  - articles/games/index
  - articles/games/show
  - articles/games/create
  - articles/games/update
  - articles/games/delete
  - articles/games/errors
  - articles/games/versions/intro
  - articles/games/versions/index
  - articles/games/versions/show
  - articles/games/versions/create
  - articles/games/versions/update
  - articles/games/versions/delete
  - articles/games/versions/errors
  - articles/games/version_releases/intro
  - articles/games/version_releases/index
  - articles/games/version_releases/show
  - articles/games/version_releases/create
  - articles/games/version_releases/update
  - articles/games/version_releases/delete
  - articles/games/version_releases/errors
  - articles/games/titles/intro
  - articles/games/titles/index
  - articles/games/titles/show
  - articles/games/titles/create
  - articles/games/titles/update
  - articles/games/titles/delete
  - articles/games/titles/errors
  - articles/games/notes/intro
  - articles/games/notes/index
  - articles/games/notes/show
  - articles/games/notes/create
  - articles/games/notes/update
  - articles/games/notes/delete
  - articles/games/notes/errors
  - articles/people/intro
  - articles/people/index
  - articles/people/show
  - articles/people/create
  - articles/people/update
  - articles/people/delete
  - articles/people/errors
  - articles/people/names/intro
  - articles/people/names/index
  - articles/people/names/show
  - articles/people/names/create
  - articles/people/names/update
  - articles/people/names/delete
  - articles/people/names/errors
  - articles/people/notes/intro
  - articles/people/notes/index
  - articles/people/notes/show
  - articles/people/notes/create
  - articles/people/notes/update
  - articles/people/notes/delete
  - articles/people/notes/errors
  - articles/people/credits/intro
  - articles/people/credits/index
  - articles/people/credits/show
  - articles/people/credits/create
  - articles/people/credits/update
  - articles/people/credits/delete
  - articles/people/credits/errors
  - articles/companies/intro
  - articles/companies/index
  - articles/companies/show
  - articles/companies/create
  - articles/companies/update
  - articles/companies/delete
  - articles/companies/errors
  - articles/companies/names/intro
  - articles/companies/names/index
  - articles/companies/names/show
  - articles/companies/names/create
  - articles/companies/names/update
  - articles/companies/names/delete
  - articles/companies/names/errors
  - articles/companies/notes/intro
  - articles/companies/notes/index
  - articles/companies/notes/show
  - articles/companies/notes/create
  - articles/companies/notes/update
  - articles/companies/notes/delete
  - articles/companies/notes/errors
  - articles/companies/kinships/intro
  - articles/companies/kinships/index
  - articles/companies/kinships/show
  - articles/companies/kinships/create
  - articles/companies/kinships/update
  - articles/companies/kinships/delete
  - articles/companies/kinships/errors
  - articles/companies/credits/intro
  - articles/companies/credits/index
  - articles/companies/credits/show
  - articles/companies/credits/create
  - articles/companies/credits/update
  - articles/companies/credits/delete
  - articles/companies/credits/errors
  - articles/peer_reviews/intro
  - articles/peer_reviews/create
  - articles/peer_reviews/update
  - articles/peer_reviews/errors
  - users/intro
  - users/index
  - users/show
  - users/create
  - users/update
  - users/delete
  - users/errors
  - users/authentications/intro
  - users/authentications/create
  - users/activations/intro
  - users/activations/create
  - users/activations/update
  - users/passwords/intro
  - users/passwords/create
  - users/passwords/update
  - places/intro
  - places/index
  - places/show
  - places/create
  - places/update
  - places/delete
  - places/children/index
  - places/regions/index
  - places/errors
  - media/images/intro
  - media/images/index
  - media/images/show
  - media/images/create
  - media/images/update
  - media/images/delete
  - media/images/errors
  - media/licenses/intro
  - media/licenses/index
  - platforms/intro
  - platforms/index
  - platforms/show
  - platforms/create
  - platforms/update
  - platforms/delete
  - platforms/errors
  - genres/intro
  - genres/index
  - genres/show
  - genres/create
  - genres/update
  - genres/delete
  - genres/errors
  - errors

search: true
---
