---
title: Dbljump REST API Reference

language_tabs:
  - JSON

toc_footers:
  - <a href='https://github.com/tripit/slate'>Documentation Powered by Slate</a>

includes:
  - users/intro
  - users/get_index
  - users/get_record
  - users/post_create
  - users/patch_update
  - users/delete
  - users/authentications/intro
  - users/authentications/post_create
  - users/activations/intro
  - users/activations/post_create
  - users/activations/patch_update
  - users/passwords/intro
  - users/passwords/post_create
  - users/passwords/patch_update
  - images/intro
  - images/get_index
  - images/get_record
  - images/post_create
  - images/patch_update
  - images/delete
  - places/intro
  - places/get_index
  - places/get_record
  - places_countries/intro
  - places_countries/get_index
  - places_countries/get_record
  - places_countries/post_create
  - places_countries/patch_update
  - places_countries/delete
  - places_countries/subdivisions/get_subdivisions
  - places_countries/subdivisions/create_subdivision
  - places_subdivisions/intro
  - places_subdivisions/get_index
  - places_subdivisions/get_record
  - places_subdivisions/post_create
  - places_subdivisions/patch_update
  - places_subdivisions/delete
  - places_localities/intro
  - places_localities/get_index
  - places_localities/get_record
  - places_localities/post_create
  - places_localities/patch_update
  - places_localities/delete
  - places_regions/intro
  - places_regions/get_index
  - places_regions/get_record
  - places_regions/post_create
  - places_regions/patch_update
  - places_regions/delete

search: true
---

# Introduction

Welcome to the DblJump REST API. Dbljump is a video game reference application built with Ruby on Rails 5. This API follows the [JSON API](http://jsonapi.org) specification.

<aside class="notice">
All of your requests should include the following HTTP headers. Replace <code>vnum</code> with the API version you want to use (1 is the latest).<br /><br />
<code>Accept:application/vnd.api+json; version='vnum'<br />
Content-Type:application/vnd.api+json; version='vnum'</code></aside>

<aside class="notice">
This API uses <a href="https://jwt.io" target="_blank">JSON web tokens (JWT)</a> for authentication. When your request requires user authentication, it should include the following header replacing <code>user-JWT</code> with the token. For more details, see the user authentication section.<br /><br />
<code>Authorization:Bearer 'user-JWT'</code></aside>

<aside class="notice">
Successful responses include the following HTTP header.<br /><br />
<code>Content-Type:application/vnd.api+json; charset=utf-8</code></aside>
