---
title: Dbljump REST API Reference

language_tabs:
  - JSON

toc_footers:
  - <a href='https://github.com/tripit/slate'>Documentation Powered by Slate</a>

includes:
  - articles/games/intro
  - articles/games/index
  - articles/games/show
  - articles/games/create
  - articles/games/update
  - articles/games/delete
  - articles/games/errors
  - articles/games/versions/intro
  - articles/games/versions/index
  - articles/games/versions/show
  - articles/games/versions/create
  - articles/games/versions/update
  - articles/games/versions/delete
  - articles/games/versions/errors
  - articles/people/intro
  - articles/people/index
  - articles/people/show
  - articles/people/create
  - articles/people/update
  - articles/people/delete
  - articles/people/errors
  - articles/companies/intro
  - articles/companies/index
  - articles/companies/show
  - articles/companies/create
  - articles/companies/update
  - articles/companies/delete
  - articles/companies/errors
  - articles/companies/names/intro
  - articles/companies/names/index
  - articles/companies/names/show
  - articles/companies/names/create
  - articles/companies/names/update
  - articles/companies/names/delete
  - articles/companies/names/errors
  - users/intro
  - users/index
  - users/show
  - users/create
  - users/update
  - users/delete
  - users/images/index
  - users/errors
  - users/authentications/intro
  - users/authentications/create
  - users/activations/intro
  - users/activations/create
  - users/activations/update
  - users/passwords/intro
  - users/passwords/create
  - users/passwords/update
  - places/intro
  - places/index
  - places/show
  - places/create
  - places/update
  - places/delete
  - places/children/index
  - places/regions/index
  - places/errors
  - media/images/intro
  - media/images/index
  - media/images/show
  - media/images/create
  - media/images/update
  - media/images/delete
  - media/images/errors
  - platforms/intro
  - platforms/index
  - platforms/show
  - platforms/create
  - platforms/update
  - platforms/delete
  - platforms/errors
  - genres/intro
  - genres/index
  - genres/show
  - genres/create
  - genres/update
  - genres/delete
  - genres/errors
  - errors

search: true
---

# Introduction

Welcome to the DblJump REST API. Dbljump is a video game reference application built with Ruby on Rails 5. This API follows the [JSON API](http://jsonapi.org) specification.

<aside class="notice">
All of your requests should include the following HTTP headers. Replace <code>vnum</code> with the API version you want to use (1 is the latest).<br /><br />
<code>Accept:application/vnd.api+json; version='vnum'<br />
Content-Type:application/vnd.api+json; version='vnum'</code></aside>

<aside class="notice">
This API uses <a href="https://jwt.io" target="_blank">JSON web tokens (JWT)</a> for authentication. When your request requires user authentication, it should include the following header replacing <code>user-JWT</code> with the token. For more details, see the user authentication section.<br /><br />
<code>Authorization:Bearer 'user-JWT'</code></aside>

<aside class="notice">
Successful responses include the following HTTP header.<br /><br />
<code>Content-Type:application/vnd.api+json; charset=utf-8</code></aside>
